<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension 
		point="org.eclipse.core.contenttype.contentTypes"> 
		<content-type  
			id="antBuildFile" 
			name="%antBuildFileContentType.name" 
			base-type="org.eclipse.core.runtime.xml"
			file-names="build.xml"
			file-extensions="macrodef,ent,xml,ant"
			priority="normal"> 
			<describer 
				class="AntBuildfileContentDescriber">
			</describer> 
		</content-type> 
	</extension>


</plugin>
